vendors:
  image: python:3.6.4
  working_dir: /mnt
  volumes:
    - .:/mnt
  environment:
    PYTHONUSERBASE: /mnt/vendor
  command: pip install -r requirements.txt --user --upgrade

server:
  image: python:3.6.4
  working_dir: /mnt
  volumes:
    - .:/mnt
  ports:
    - '3000:5000'
  environment:
    PYTHONPATH: src
    PYTHONUSERBASE: /mnt/vendor
    FLASK_DEBUG: 1
  command: python src/server.py